{% extends "layout.twig" %}

{% block content %}
	<h1>Gestion des courses</h1>
	<p>Bienvenue sur la page d'administration des courses. Vous pourrez ici visualiser, éditer, supprimer ou bien créer une course.</p>

  {% if courses %}
		<div class="table-responsive">
	    <table class="table table-striped table-bordered" id="table">
	        <thead>
	            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Date d'ouverture</th>
								<th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for row in courses %}
	            <tr>
                <td>{{ row.nom }}</td>
                <td>{{ row.type is same as("S") ? 'Score' : 'Parcours' }}</td>
                <td>
                	{{ row.debut }}<br>
                	{{ row.fin }}
                </td>
                <td>
									<a href="course/{{row.id_course}}" class="btn btn-sm btn-block btn-secondary"    role="button">Visualiser</a>
									<a href="course/ajout/{{row.id_course}}" class="btn btn-sm btn-block btn-info"    role="button">Dupliquer</a>
									<a href="#" data-href="course/suppr/{{row.id_course}}" data-toggle="modal" data-target="#supprModal" class="btn btn-sm btn-block btn-danger">Supprimer</a>
              	</td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
		</div>
	{% else %}
	<p>Aucune course enregistrée.</p>
	{% endif %}

	<a href="{{ path_for('course.ajout') }}" class="btn btn-secondary" role="button">Ajouter</a>

	{% include 'templates/supprModal.twig' %}
{% endblock %}
