{% extends "layout.twig" %}

{% block content %}
	<h1>Modifier une course</h1>

	<form action="{{ path_for('course.edit') }}{{course.id_course}}" method="course">
		<div class="form-group">
			<label for="nom">Nom :</label>
			<input type="text" name="nom" id="nom" value="{{course.nom}}" class="form-control {{ errors.nom ? 'is-invalid' : ''}}">
			{% if errors.nom %}
			<div class="invalid-feedback">{{ errors.nom | first }}</div>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="description">Description :</label>
			<input type="text" name="description" id="description" value="{{course.description}}" class="form-control {{ errors.description ? 'is-invalid' : ''}}">
			{% if errors.description %}
			<div class="invalid-feedback">{{ errors.description | first }}</div>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="prive">Privé :</label>
			<input type="text" name="prive" id="prive" value="{{course.prive}}" class="form-control {{ errors.prive ? 'is-invalid' : ''}}">
			{% if errors.prive %}
			<div class="invalid-feedback">{{ errors.prive | first }}</div>
			{% endif %}
		</div>
    <div class="form-group">
      <label for="type">Type :</label>
      <input type="text" id="type" name="type" value="{{course.type}}" class="form-control {{ errors.type ? 'is-invalid' : ''}}">
			{% if errors.type %}
			<div class="invalid-feedback">{{ errors.type | first }}</div>
			{% endif %}
    </div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="debut">Début :</label>
				<input type="text" name="debut" id="debut" value="{{course.debut}}" class="form-control {{ errors.debut ? 'is-invalid' : ''}}">
				{% if errors.debut %}
				<div class="invalid-feedback">{{ errors.debut | first }}</div>
				{% endif %}
			</div>
			<div class="form-group col-md-6">
				<label for="fin">Fin :</label>
				<input type="text" name="fin" id="fin" value="{{course.fin}}" class="form-control {{ errors.fin ? 'is-invalid' : ''}}">
				{% if errors.fin %}
				<div class="invalid-feedback">{{ errors.fin | first }}</div>
				{% endif %}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="tempsImparti">Temps imparti :</label>
				<input type="text" name="tempsImparti" id="tempsImparti" value="{{course.tempsImparti}}" class="form-control {{ errors.tempsImparti ? 'is-invalid' : ''}}">
				{% if errors.tempsImparti %}
				<div class="invalid-feedback">{{ errors.tempsImparti | first }}</div>
				{% endif %}
			</div>
	    <div class="form-group col-md-6">
	      <label for="penalite">Pénalité :</label>
	      <input type="text" id="penalite" name="penalite" value="{{course.penalite}}" class="form-control {{ errors.penalite ? 'is-invalid' : ''}}">
				{% if errors.penalite %}
				<div class="invalid-feedback">{{ errors.penalite | first }}</div>
				{% endif %}
	    </div>
	  </div>
		{% if balises is not empty %}
		<div class="form-group">
			<label for="nom">Balises :</label>
			<ul>
			{% for balise in balises %}
				<li>Balise n°{{ balise.numero }}, nom : {{ balise.nom }}, valeur : {{ balise.valeur }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="form-group">
			{{ csrf.field | raw }}
			<input type="reset" value="Annuler" class="btn">
			<input type="submit" value="Envoyer" class="btn btn-primary">
		</div>
	</form>
{% endblock %}
