{% extends "layout.twig" %}

{% block content %}
	<h1>Course : {{ course.nom }}
		<a href="#" data-href="{{ path_for('course') }}/suppr/{{course.id_course}}" data-toggle="modal" data-target="#supprModal" class="btn btn-lg btn-danger">Supprimer</a>
		<a href="{{ path_for('course.ajout.duplicate') }}{{course.id_course}}" class="btn btn-lg btn-info" role="button">Dupliquer</a>
	</h1>
	<p>Description : {{ course.description }}</p>
	<p>Type de course : {{ course.type is same as("S") ? 'Score' : 'Parcours' }}</p>
	<p>Début : {{ course.debut }}</p>
	<p>Fin : {{ course.fin }}</p>
	{% if course.type is same as("S") %}
	<p>Temps imparti : {{ course.tempsImparti }}</p>
	{% else %}
	<p>Pénalité : {{ course.penalite }}</p>
	{% endif %}

	{% if balises is not empty %}
	<div class="table-responsive">
		<table class="table table-hover">
				<thead>
						<tr>
								<th>Numéro</th>
								<th>Nom</th>
								{% if course.type is same as("S") %}<th>Valeur</th>{% endif %}
								<th>Position</th>
								<th>QrCode</th>
						</tr>
				</thead>
				<tbody>
						{% for row in balises %}
						<tr>
								<td>{{ row.numero }}</td>
								<td>{{ row.nom }}</td>
								{% if course.type is same as("S") %}<td>{{ row.valeur }}</td>{% endif %}
								<td>
									{{ row.longitude }}<br>
									{{ row.latitude }}
								</td>
								<td><img src="{{ row.qrcode | qrcode(size=200) }}" /></td>
						</tr>
						{% endfor %}
				</tbody>
		</table>
	</div>
	{% endif %}
	{% include 'templates/supprModal.twig' %}
{% endblock %}
