{% extends "layout.twig" %}

{% block content %}
	<h1>Listes des courses</h1>
	<p>Bienvenue sur la page qui répertoire les résultats des courses. Vous pourrez ici visualiser vos temps, classements et scores.</p>

  {% if courses %}
		<div class="table-responsive">
	    <table class="table table-hover">
	        <thead>
	            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
								<th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for row in courses %}
	            <tr>
                <td>{{ row.nom }}</td>
                <td>{{ row.type is same as("S") ? 'Score' : 'Parcours' }}</td>
                <td>
                	{{ row.debut }}<br>
                	{{ row.fin }}
                </td>
                <td>
									<a href="resultat/{{row.id_course}}" class="btn btn-sm btn-block btn-secondary" role="button">Visualiser</a>
                </td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
		</div>
	{% else %}
	<p>Aucune course enregistrée.</p>
	{% endif %}

{% endblock %}
