{% extends "layout.twig" %}

{% block content %}
<h1>Résultats de la course "{{ course.nom }}"</h1>

	{% if resultats is not empty %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered" id="table">
				<thead>
						<tr>
								<th>Nom du courreur</th>
								<th>Âge</th>
								{% if modeScore %}<th>Score</th>{% endif %}
								<th>Date</th>
								<th>Actions</th>
						</tr>
				</thead>
				<tbody>
						{% for row in resultats %}
						<tr>
								<td>{{ row.user.nom }} {{ row.user.prenom }}</td>
								<td>{{ row.user.dateNaissance | age }}</td>
								{% if modeScore %}<td>{{ row.score }}</td>{% endif %}
								<td>
									{{ row.debut }}<br>
									{{ row.fin }}
								</td>
								<td>
									<a href="run/{{row.id_resultat}}" class="btn btn-sm btn-block btn-secondary" role="button">Visualiser</a>
								</td>
						</tr>
						{% endfor %}
				</tbody>
		</table>
	</div>
	{% else %}
	<p>Aucun résultat enregistré pour cette course.</p>
	{% endif %}

{% endblock %}
