{% extends "layout.twig" %}

{% block content %}
<h1>Résultats n°{{resultat.id_resultat}} de {{ resultat.course.nom }}</h1>

<p>Courreur : {{ resultat.user.prenom }} {{ resultat.user.nom }}</p>
<p>Sexe : {{ resultat.user.sexe }}</p>
<p>Âge : {{ resultat.user.dateNaissance | age }}</p>
<p>Score : {{ resultat.score }}</p>
<p>Date de début : {{ resultat.debut }}</p>
<p>Date de fin : {{ resultat.fin }}</p>
<p>Delta : {{ resultat.debut | date_diff(resultat.fin) }}</p>

{% if resultat.balisesResultat is not empty %}
<div class="table-responsive">
	<table class="table table-hover">
			<thead>
					<tr>
						<th>Numéro</th>
						<th>Nom</th>
						<th>Temps cumulé</th>
						{% if invalide %}<th>Distance (mètres)</th>{% endif %}
						<th>Valeur</th>
					</tr>
			</thead>
			<tbody>
					{# le if permet d'omettre la balise de configuration #}
					{% for balise in resultat.balisesResultat if balise.balisesCourse.numero != 0 %}
					<tr>
						<td>{{ balise.balisesCourse.numero }}</td>
						<td>{{ balise.balisesCourse.nom }}</td>
						<td>{{ balise.temps }}</td>
						{% if invalide %}<td>{{ balise.distance }}</td>{% endif %}
						<td>{{ balise.balisesCourse.valeur }}</td>
					</tr>
					{% endfor %}
			</tbody>
	</table>
</div>
{% else %}
<p>Aucune balise n'est enregistrée sur ce résultat de course.</p>
{% endif %}

{% endblock %}
