<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>oriTrail</title>
    <meta name="keywords" content="course, orientation">
    <meta name="description" content="Course d'orientation.">
    <link rel="icon" href="{{ path_for('home') }}img/favicon.ico">
    <link rel="stylesheet" href="{{ path_for('home') }}css/bootstrap.min.css">
{% if page == 'course' %}
    <link rel="stylesheet" href="{{ path_for('home') }}css/tempusdominus.min.css">
{% endif %}
    <link rel="stylesheet" href="{{ path_for('home') }}css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Logo -->
      <a class="navbar-brand" href="{{ path_for('home') }}">oriTrail</a>
      <!-- Boutton sandwitch -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Liens du menu -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('course') }}">Gestion des courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('resultat') }}">Visualiser les résultats</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if auth.check %}
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ auth.user.nom }} {{ auth.user.prenom }}
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="{{ path_for('signout') }}" class="dropdown-item">Se déconnecter</a>
              </div>
            </div>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path_for('signin') }}">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path_for('signup') }}">S'enregistrer</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% include 'templates/flash.twig' %}
{% if page == 'home' %}
    {% block home %}{% endblock %}
{% else %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
{% endif %}
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">oriTrail - 2018</span>
      </div>
    </footer>
    <script src="{{ path_for('home') }}js/jquery.slim.js"></script>
    <script src="{{ path_for('home') }}js/bootstrap.min.js"></script>
{% if page == 'course' %}
    <script src="{{ path_for('home') }}js/moment-with-locales.min.js"></script>
    <script src="{{ path_for('home') }}js/tempusdominus.min.js"></script>
    <script defer src="{{ path_for('home') }}js/fontawesome-all.min.js"></script>
{% endif %}
    <script src="{{ path_for('home') }}js/script.js"></script>
{% if page == 'lieu' %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCdrr00DUMh0cuWgVx5-28Jb2mkiXmQWg&libraries=places&callback=initMap"></script>
{% endif %}
  </body>
</html>
