{% extends "layout.twig" %}

{% block content %}
	<h1>Mes lieux</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  {% if lieux %}
		<div class="table-responsive">
	    <table class="table table-hover">
	        <thead>
	            <tr>
	                <th>Nom</th>
	                <th>Description</th>
	                <th>Coordonnées</th>
	                <th>Adresse</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for row in lieux %}
	            <tr>
	                <td>{{ row.nom }}</td>
	                <td>{{ row.description }}</td>
	                <td>
	                	{{ row.longitude }}<br>
	                	{{ row.latitude }}
	                </td>
	                <td>
	                	{{ row.adresse }}<br>
	                	{{ row.cp }} {{ row.ville }}
	                </td>
	                <td>
										<a href="lieu/suppr/{{row.id_lieu}}" class="btn btn-sm btn-block btn-danger" role="button">Supprimer</a>
									  <a href="lieu/edit/{{row.id_lieu}}" class="btn btn-sm btn-block btn-info"   role="button">Éditer</a>
	                </td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
		</div>
	{% else %}
	<p>Aucun lieu enregistré.</p>
	{% endif %}

	<a href="{{ path_for('lieu.ajout') }}" class="btn btn-sm btn-secondary" role="button">Ajouter</a>

{% endblock %}
